<div class="shopping-container">

  <div class="m-6 child">
    <label class="is-size-1 mb-2 text-center">Shopping list</label>

    <input class="input" type="text" [(ngModel)]="newItemToBeAdded.value">
    <button class="button is-dark mt-2 is-size-3" (click)="addANewItemInList()">add</button>
    <button *ngIf="isCacheNotEmpty" class="button is-danger ml-2 mt-2 is-size-3" (click)="clearCache()">Clear cache</button>
  </div>

  <div *ngIf="items" class="m-6 child">
    <div *ngFor=" let item of items" class="mb-2">
      <label class="is-size-3" [ngClass]="{'item-done': item.isDone == true, 'item-not-done':!item.isDone }">{{ item.value }}</label>
      <input class="ml-2 is-size-1" type="checkbox" (click)="markItemAsDone(item)"  [checked]="item.isDone"/>
    </div>
  </div>
</div>